.idea
node_modules
test/
docs/
docs-old/
docs-out/
src/
public/

*.ts
!*.d.ts
tsconfig.json
package-lock.json
typedoc.json

fonts
gitignore
pattern.png
test.txt
output.png
docgen.ts
docgen.js
test.png