.idea
node_modules
test/
docs/
docs-old/
docs-out/
src/
public/
fonts
gitignore
test-materials

*.ts
!*.d.ts
docgen.ts
docgen.js
tsconfig.json
package-lock.json
typedoc.json

output.png
test.png
pattern.png
output.svg
test.svg

test.txt
